

<div ng-controller="onboardingFormController" class="form-group" >

<div  *ngIf="alert" class="alert alert-success alert-dismissable fade show" role="alert">
    <strong>Employee details sent to HR for further steps.</strong> <a class="spacer" (click)="alert=false"> X</a> 

</div>  
<div  *ngIf="errorAlert" class="alert alert-success alert-dismissable fade show" role="alert">
    <strong>Error. Please contact Admin.</strong>
    <a class="spacer" (click)="errorAlert=false"> X</a> 
    <br/>

</div>    


<div style="margin : 10px 10px 50px 10px">
    <div style="background-color: lightgray; "> 
<label> Please upload candidate details using excel file:</label><br/>
    </div>
    <input type="file" appReadExcel (eventEmitter)="readExcelData($event)" /> <br/>
</div>

<form #onboardinForm="ngForm" (ngSubmit) = "submitEmpFormFunc(onboardinForm)">

<div class="subheader"> Candidate Personal Details :</div>
    <div>

        <label> First Name: </label>
        <input type="text"  [(ngModel)]="empProfiles.first_name"  name="fname" required style="margin-left:10px"/>
    </div>

    <div>

        <label> Last Name: </label>
        <input type="text" [(ngModel)]="empProfiles.last_name"  ngModel name="lname" required style="margin-left:10px"/>
    </div>
    <div>

        <label> Email Address: </label>
        <input type="text" [(ngModel)]="empProfiles.email"  name="email" required style="margin-left:10px"/>
    </div>
    <div>

        <label> Phone number: </label>
        <input type="text" [(ngModel)]="empProfiles.phone_no"  name="phoneno" required style="margin-left:10px"/>
    </div>
   

    <div class="subheader"> Other Candidate Details :</div>
<div *ngFor="let item of fieldsList">
    
        <div *ngIf="item.type !='select'">

            <label> {{item.value}} : </label>
            <input type="{{item.type}}" name="{{item.name}}"  required style="margin-left:10px" ng-required="true"/>
        </div>




        <div *ngIf="item.name == 'candidateStatus'">

            <label> Candidate Status: </label>
        
                <select id="candidateStatus" ngModel name="candidateStatus"  required style="margin-left:10px" >
                    <option value="Pipelined"> Pipelined</option>
                    <option value="Interviewed"> Interviewed</option>
                    <option value="Offered"> Offered</option>
                    <option value="Hired"> Hired</option>
                    <option value="Onboard"> Onboard</option>
                    <option value="Terminated"> Termnated</option>
                </select>
         
        </div>
        <div  *ngIf="item.name == 'empType'">
        
            <label> Employee Type: </label>
        
                <select id="empType" ngModel name="empType"  required style="margin-left:10px" >
                    <option value="PartTime"> Part Time</option>
                    <option value="FullTime"> Full Time</option>
                    
                </select>
         
        </div>
        <div *ngIf="item.name == 'empStatus'">
        
            <label> Employee Status: </label>
        
                <select id="empStatus" ngModel name="empStatus"  required style="margin-left:10px" >
                    <option value="Active"> Active</option>
                    <option value="Inactive"> InActive</option>
                   
                </select>
         
        </div>
        
        
        <div *ngIf="item.name == 'adminStatus'">
        
            <label> Admin Status: </label>
        
            <select id="adminStatus" ngModel name="adminStatus"  required style="margin-left:10px" >
                <option value="Processing"> Processing</option>
                <option value="Incomplete"> Incomplete</option>
                <option value="Completed"> Completed</option>
            </select>
        </div>
        <div *ngIf="item.name == 'payrollStatus'">
        
            <label> Payroll Status: </label>
            <select id="payrollStatus" ngModel name="payrollStatus"  required style="margin-left:10px" >
                <option value="Processing"> Processing</option>
                <option value="Incomplete"> Incomplete</option>
                <option value="Completed"> Completed</option>
            </select>
        </div>
        <div *ngIf="item.name == 'itStatus'">
        
            <label> IT Team Status: </label>
            <select id="itStatus" ngModel name="itStatus"  required style="margin-left:10px" >
                <option value="Processing"> Processing</option>
                <option value="Incomplete"> Incomplete</option>
                <option value="Completed"> Completed</option>
            </select>
        </div>
   
</div>


<input  type="submit"  value=" Send to Human Resources">

</form>
</div>

<div *ngIf="authSrv.usrrole == 'recruiter'">

    <app-new-hires-display> </app-new-hires-display>
</div>