<p>onboarding form </p>
<div ng-controller="onboardingFormController">
<form #onboardinForm="ngForm" (ngSubmit) = "submitEmpFormFunc(onboardinForm.value)">
<div>

    <label> First Name: </label>
    <input type="text" ngModel name="fname" required/>
</div>
<div>

    <label> Last Name: </label>
    <input type="text" ngModel name="lname" required/>
</div>
<div>

    <label> Job Title: </label>
    <input type="text" ngModel name="jobTitle" required/>
</div>

<div>

    <label> Contract Start Date</label>
    <input type="text-area" ngModel name="ctrctStartDt" required/>
</div>
<div>

    <label> Contract End Date</label>
    <input type="text-area" ngModel name="ctrctEndDt" required/>
</div>
<div>

    <label> Employee Status: </label>
    <input type="text" ngModel name="empStatus" required/>
</div>
<div>

    <label> Designation: </label>
    <input type="text" ngModel name="jobDivision" required/>
</div>

<div>

    <label> Admin Status: </label>
    <input type="text" ngModel name="adminStatus" required/>
</div>
<div>

    <label> Payroll Status: </label>
    <input type="text" ngModel name="payrollStatus" required/>
</div>
<div>

    <label> IT Team Status: </label>
    <input type="text" ngModel name="itStatus" required/>
</div>

<input type="submit"  value="Submit Form">

</form>
</div>