<mat-toolbar color="primary">
    <span>Welcome  {{auth.usrrole | uppercase }} Staff</span>
    <div class="spacer"></div>

    <div *ngFor="let item of menuList">
      <a *ngIf="item.role == auth.usrrole" mat-button style="color:pink" routerLink="{{item.routerLink}}"> {{item.name}}</a>

    </div>
      
          <a  mat-button-raised routerLink="logout" style="color:pink" (click)="logout()"> Logout</a>
          <!-- Navbar content -->
        <br/>
    
       
        </mat-toolbar>
        <!-- Footer -->
       
    