

<div  *ngIf="alert" class="alert alert-success alert-dismissable fade show" role="alert">
    <strong>New Hire Details Sent to Respective Teams.</strong> <br/>

</div>  

<form  #hrForm="ngForm" (ngSubmit) = "submitEmpTasks(hrForm)" class="form-group">
        
        
<table class="object">
    
    <tr >
        <td></td>
        <td style="text-decoration: underline;">
            Employee Id
        </td>
        <td style="text-decoration: underline;">
           First Name
        </td>
        <td style="text-decoration: underline;">
            Last Name
         </td>
        <td style="text-decoration: underline;">
            Designation
        </td>
        <td style="text-decoration: underline;">
           Joining Date
        </td>
        <td style="text-decoration: underline;">
            Job Classification
        </td>
        <td style="text-decoration: underline;">
            Employee Status
        </td>
       
    </tr>
    <tr class="object" *ngFor="let item of empProfiles " >
    <input type="checkbox" [(ngModel)]="item.isSelected" name="empDetails" value="{{item.employeeid}}" id="{{item.employeeid}}" (click)="showTasksDiv()" (change)="radioChangeHandler($event)"/>
                <td>
                 <label for="{{item.employeeid}}">  {{item.employeeid}}</label> 
                </td>

                <td>
                    {{item.first_name}}
                </td>
                <td>
                    {{item.last_name}}
                </td>
                <td>
                    
                    {{item.designation}}
                </td>
                <td>
                    {{item.hire_dt}}
                </td>

                <td>
                    {{item.job_classification}}
                </td>
                <td>
                    {{item.emp_status}}
                </td>
              
            </tr>

       
        
    
    </table>


<div *ngIf="showTasks" id="launchTasks" >
    

    Send Individual requirements to departments for the new hire :  Employee ID  : {{ selectedEmp}}

    <table class="object">
        
        <tr> 
            
            <td>Onboard IT requirements :

            </td>
            <div *ngFor="let item of tasksList">
            <td>
                <input *ngIf="item.role == 'itTasks'" type="checkbox" ngModel  name="{{item.id}}" value="{{item.id}}" id="{{item.id}}"/>
               <label *ngIf="item.role == 'itTasks'" for="{{item.id}}">{{item.name}} </label> 
            </td>
            </div>
        </tr>
        <tr> <td>Onboard Admin requirements :

        </td>
        <div *ngFor="let item of tasksList">
        <td>
            <input *ngIf="item.role == 'adminTasks'" type="checkbox" ngModel  name="{{item.id}}" value="{{item.id}}" id="{{item.id}}"/>
           <label *ngIf="item.role == 'adminTasks'" for="{{item.id}}">{{item.name}} </label> 
        </td>
   </div>

    </tr>
    </table>

</div>

   <input  type="submit"  value="Onboard New Hires" >
    


</form>

