.object {
    position: relative;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  
  .object:before {
    background-color: red;
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: -1;
  }