
        <br/>Search User : <input type="text" [(ngModel)]="searchText" placeholder="Search by name"/><br/>

        <div  *ngIf="alert" class="alert alert-success alert-dismissable fade show" role="alert">
    <strong>Task updated successfully for the selected employees.</strong> <a class="spacer" (click)="alert=false"> X</a> 

</div> 
        
        <form #updateForm="ngForm" (ngSubmit) = "submitTasks(updateForm)" class="form-group" > 
<table class="object">
    
    <tr >
        
        <td style="text-decoration: underline;">
            Employee Id
        </td>
        <td style="text-decoration: underline;">
           First Name
        </td>
        <td style="text-decoration: underline;">
            Last Name
         </td>
         <td style="text-decoration: underline;">
            Supervisor ID
         </td>
        <td style="text-decoration: underline;">
            Designation
        </td>
        <td style="text-decoration: underline;">
           Joining Date
        </td>
        <td style="text-decoration: underline;">
            Job Title
        </td>
        <td style="text-decoration: underline;">
            Employee Type
        </td>
        <td *ngIf="auth.usrrole == 'it'">
            Select all completed
        </td>
        <td *ngIf="auth.usrrole == 'recruiter'">
            Select Candidate Status
        </td>
    </tr>
    <tr class="object" *ngFor=" let item of empProfiles | filter:searchText" >
   
                <td>
                 {{item.employeeid}}
                </td>

                <td>
                    {{item.first_name}}
                </td>
                <td>
                    {{item.last_name}}
                </td>
                <td>
                    {{item.supervisorid}}
                </td>
                <td>
                    
                    {{item.designation}}
                </td>
                <td>
                    {{item.contract_startdt}}
                </td>

                <td>
                    {{item.job_title}}
                </td>
                <td>
                    {{item.emp_type}}
                </td>
                <td *ngIf="auth.usrrole == 'recruiter'">

                        <label> Candidate Status: </label>
                    
                            <select id="candidateStatus"  [(ngModel)]="item.candidate_status" [ngModelOptions]="{standalone: true}" required style="margin-left:10px" >
                                <option value="Pipelined"> Pipelined</option>
                                <option value="Interviewed"> Interviewed</option>
                                <option value="Offered"> Offered</option>
                                <option value="Hired"> Hired</option>
                                <option value="Onboard"> Onboard</option>
                                <option value="Terminated"> Termnated</option>
                            </select>
                     
                </td>

                       
                        <td *ngFor="let i of tasksList">
                       
                       
                            <input *ngIf="i.role == auth.usrrole" type="checkbox" ngModel  [(ngModel)]="item.isSelected" name="{{i.name}}{{item.employeeid}}" value="{{item.employeeid}}" id="{{item.employeeid}}" />
                           <label *ngIf="i.role == auth.usrrole" for="{{item.employeeid}}">{{i.name}} </label> 
                        
                        </td>
                       
                    
                    
           
            
              
              
            </tr>

       
        
    
    </table>

    <input type="submit" value="Update Employee Details"> 

</form>



<app-new-hires-display></app-new-hires-display>
