
<div>

    NEW HIRE ONBOARDING REPORT
</div> <br>

<table class="object">
    <tr>
        <td >
            <div> Pipelined</div>
            <div  class="object" style="background-color: pink;">
                <strong>
                    15
                </strong> 
            
            </div>  
        </td>
        <td>
            <div> Interviewed</div>
            <div  class="object" style="background-color: lightblue;">
                <strong>
                    7
                </strong> 
            
            </div>  
        </td>
        <td>
            <div> Offered</div>
            <div  class="object" style="background-color: orange;">
                <strong>
                    5
                </strong> 
            
            </div>  
        </td>
        <td>
            <div> Accepted</div>
            <div  class="object" style="background-color: violet;">
                <strong>
                    8
                </strong> 
            
            </div>  
        </td>
        <td>
            <div> Onboard</div>
            <div  class="object" style="background-color: greenyellow;">
                <strong>
                    0
                </strong> 
            
            </div>  
        </td>
    </tr>
</table>


