.object {
    position: relative;
    width: 100px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  .listobject{
    position: relative;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  .object:before {
    background-color: red;
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: -1;
  }
  .total{
    background-color: red;
    cursor: pointer;
  }
  .box0{
    background-color: pink;
    cursor: pointer;
  }
  .box1{
    background-color: orange;
    cursor: pointer;
  }
  .box2{
    background-color: violet;
    cursor: pointer;
  }
  .box3{
    background-color: lightblue;
    cursor: pointer;
  }
 
  .box4{
    background-color: greenyellow;
    cursor: pointer;
  }