.object {
    position: relative;
    width: 100px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }
  
  .object:before {
    background-color: red;
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: -1;
  }
  .total{
    background-color: red;
  }
  .box0{
    background-color: pink;
  }
  .box1{
    background-color: orange;
  }
  .box2{
    background-color: violet;
  }
  .box3{
    background-color: lightblue;
  }
 
  .box4{
    background-color: greenyellow;
  }