
 <br>
 <div *ngIf="authSrv.usrrole != 'hr'">
<table class="object">
    <tr>
        <td>
            <div> Total Tasks</div>
            <div class="object total"> 
                <strong> {{total}}

            </strong>
            </div>
        </td>
            
           
        <td *ngFor="let item of statusBoardList ; index as i">
            <div > {{item.candidate_status}}</div>
            <div  class="object box{{i}}" id="{{item.candidate_status}}" (click)="getEmployees($event)">
                <strong >
                    {{item.status_ct}}
                </strong> 
            
            </div>  
        </td>
       
    </tr>
</table>
</div>

<div *ngIf="authSrv.usrrole == 'hr'">
<div style="text-align: center; width: 50%;"> <p>ONBOARDING DASHBOARD</p>

    <table class="object" >
        <tr>
            <td></td>
            <td>HR</td>
            <td>Payroll</td>
            <td>Security</td>
            <td>Admin</td>
            <td> IT </td>
        </tr>
        <tr >
            <td> Received </td>
            <td *ngFor="let item of onboardingStatusBoardList ; index as i">
                <div  class="object" style="background-color: lightblue;">
                    <strong >
                        {{item.recvdCt}}
                    </strong> 
                   
                </div>  
            </td>
           
        </tr>
        <tr >
            <td> Completed </td>
            <td *ngFor="let item of onboardingStatusBoardList ; index as i">
                <div  class="object " style="background-color: green;">
                    <strong >
                        {{item.completed_ct}}
                    </strong> 
                   
                </div>  
            </td>
           
        </tr>
    </table>
</div>
</div>

<br/>


<div *ngIf="showEmpList">
    <span style="margin-left: 10px;"><button (click)="exportToExcel()"> Export Data</button></span>
    <table class="listobject" id="excel-table">
    
        <tr >
            
            <td style="text-decoration: underline;">
                Employee Id
            </td>
            <td style="text-decoration: underline;">
               First Name
            </td>
            <td style="text-decoration: underline;">
                Last Name
             </td>
             <td style="text-decoration: underline;">
                Supervisor ID
             </td>
            <td style="text-decoration: underline;">
                Designation
            </td>
            <td style="text-decoration: underline;">
                Job Location
            </td>
            <td style="text-decoration: underline;">
                Department
            </td>
            <td style="text-decoration: underline;">
               Joining Date
            </td>
            <td style="text-decoration: underline;">
                Job Title
            </td>
            <td style="text-decoration: underline;">
                Employee Type
            </td>
           
        </tr>
        <tr class="object" *ngFor=" let item of empProfiles " >
       
                    <td>
                     {{item.employeeid}}
                    </td>
    
                    <td>
                        {{item.first_name}}
                    </td>
                    <td>
                        {{item.last_name}}
                    </td>
                    <td>
                        {{item.supervisorid}}
                    </td>
                    <td>
                        
                        {{item.designation}}
                    </td>
                    <td>
                        
                        {{item.joblocation}}
                    </td>
                    <td>
                        
                        {{item.department}}
                    </td>
                    <td>
                        {{item.contract_startdt}}
                    </td>
    
                    <td>
                        {{item.job_title}}
                    </td>
                    <td>
                        {{item.emp_type}}
                    </td>
            </tr>
            </table>
            

    </div>