
<div class="card card-container">

    <div  *ngIf="errorAlert" class="alert alert-success alert-dismissable fade show" role="alert">
        <strong>Login Failed. Please try again.</strong> <br/>
    
    </div>    

<form class="login-form" [formGroup]="formGroup" (ngSubmit) = "loginProcess()">

    <div>
    
        <label> User Name: </label>
        <input type="text"  formControlName="username"  style="margin-left:10px" placeholder="User Name/Email"/>
    </div>
    <div>

        <label> Password: </label>
        <input type="text" formControlName="password" style="margin-left:10px" placeholder="Password"/>
    </div>

    <div>

        <label> Choose your role: </label>
        <select id="userrole" formControlName="userrole" >
            <option value="recruiter"> Recruiter</option>
            <option value="hr"> Human Resources</option>
            <option value="sysadmin"> System Admin</option>
            <option value="it"> IT </option>
            
        </select>
    </div>

    
    <input  type="submit"  value="Sign In">

    </form>
</div>